
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: bisque;
    --rodape: teal;
}

.cabecalho {
    padding: 2% 0% 0% 5%;
    height: 4rem;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    text-decoration:underline;
    border-radius: 10px;
    padding: 5px;
    color: rgb(0, 4, 8);
}

body {
    background-color: var(--cor-de-fundo);
    margin-bottom: -200px;

}

#content {
    padding: 0rem 5%;
    text-align: justify;
height: 90vh;
margin-bottom: 5rem;
}

.rodape-conteudo {
    background-color: var(--rodape);
    width: 100%;
    height: 5rem;
    text-align: center;
    padding: 1rem;

}